<style>
  *{
    background-color: bisque;
  }
form{
  border: 1px solid black; 
  height: 60%;
  width:  25%; 
  padding: 2%;
  margin: 7% auto;
  background-color: rgb(148, 148, 148);
  color: white;
  }
  div{
    margin: 0% 10%;
    background-color: transparent;
  }
  input{
    margin: 2% 10%;
    height: 10%;
    width: 80%;
    background-color: white;
  }
  button{
    width:80%;
    margin: 4% 10%;
    height: 12%;
  }
</style>
<form action="/verify" method="post"> <!-- Sends the form's data to the verify path-->
  <h1 style="text-align: center;background-color: transparent;">Sign In</h1>
  <div>Name:</div>
  <input type="text" name="username" required>
  <div>Password:</div>
  <input type="password" name="password" required>
  <button type="submit">Sign In</button>
  <p style="text-align: center;background-color: transparent;">Don't have an account? <a href="/signup">Sign up</a></p>
</form>